body{
    background-color: red;
}
@media screen and (max-width: 600px){
    body{
        background-color:whitesmoke;
        h1{
            font-size: 30px;

        }
    }
    @media screen and (max-width:100px){
        button{
            height: 50px;
            width: 100px;
            border: 0rcap;
        }
    }
    @media screen and (max-width:700px){
        h1{
            color: green;
        }
    }
}
